body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}
.wrapper {
    background: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
}
.main-content {
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;
}

/* секция контактов */
.contacts .contacts-detales {
    color:#3f51b5;
    text-decoration: none;}
.contacts .contacts-detales:hover, .contacts .contacts-detales:focus {
    color: blue;
    text-decoration: underline;
}

/* секция проектов */
.projects .projects-links {
    color:#3f51b5;
    text-decoration: none;}
.projects .projects-links:hover, .projects .projects-links:focus {
    color: blue;
    text-decoration: underline;
}